@import "colors/macchiato.css";

@keyframes blink {
    to {
        color: @text;
        background: shade(red, 0.8);
        border-color: alpha(@sky, 0.5);
    }
}

* {
	border: none;
	border-radius: 7px;
    font-family: "Hack Nerd Font Propo";
	font-size: 12px;
	min-height: 12px;
}

widget label {
	margin-top: 6px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 7px;
	transition: none;
    background: shade(@base, 0.9);
    border: 1.2px solid alpha(@text, 0.7);
    box-shadow: 0 0 2px 2px alpha(@base, 0.5);
}

tooltip box {
    background: shade(@surface0, 0.9);
}

#window {
    color: @text;
}

window#waybar {
	background: transparent;
  border: none;

}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty #label {
	background: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

window#waybar.empty #window label {
	background: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#workspaces {
	margin-top: 7px;
	margin-left: 4px;
	margin-right: 4px;
    margin-bottom: 2px;
	border-radius: 7px;
    background: shade(@base, 0.9);
    box-shadow: 0 0 2px 2px alpha(@base, 0.5);
}

#workspaces label {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    color: @text;
}

#workspaces button {
    border: 1.2px solid transparent;
    border-radius: 0px;
}

#workspaces button:first-child {
    border-radius: 7px 0px 0px 7px;
}

#workspaces button:last-child {
    border-radius: 0px 7px 7px 0px;
}

#workspaces button:only-child {
    border-radius: 7px;
}

#workspaces button.persistent {
    color: @base;
    font-weight: bold;
    background-color: shade(@peach, 0.6);
    border-color: @base;
}

#workspaces button.special {
    color: @yellow;
    font-weight: bold;
    background-color: shade(@green, 0.6);
    border-color: @base;
}

#workspaces button.active {
    font-weight: bold;
    background-color: shade(@blue, 0.6);
    border-color: @base;

}

#workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button:hover {
    border-color: @yellow;
    color: @yellow;
}

#network {
	color: @mauve;
    border-color: alpha(@mauve, 0.8);
}

#pulseaudio {
	color: @yellow;
    border-color: alpha(@yellow, 0.8);
}

#pulseaudio.muted {
    padding-top: 5px
}

#battery {
	color: @sky;
    border-color: alpha(@sky, 0.8);
}

#batter.warning:not(.charging) {
    color: @red;
    border-color: alpha(@red, 0.8);
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
	color: @peach;
    border-color: alpha(@peach, 0.8);
}
#clock {
	color: @green;
    border-color: alpha(@green, 0.9);
}

#memory {
	color: @rosewater;
    border-color: alpha(@rosewater, 0.8);
}
#cpu {
	color: @teal;
    border-color: alpha(@teal, 0.8);
}

#tray {
	margin-top: 5px;
	margin-left: 4px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 7px;
	transition: none;
    background: shade(@base, 0.9);
    border: 1.2px solid alpha(@text, 0.7);
    box-shadow: 0 0 2px 2px alpha(@base, 0.5);
}

#tray menu separator {
    min-height: 2px;
}

#tray menu menuitem label {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}

#tray menu menuitem {
    border-radius:7px;
    border: 1px solid alpha(@crust, 0.2);
    margin: 1px;
    padding: 3px 0 3px 0;
}

#custom-launcher {
    margin-left: 8px;
	padding-right: 5px;
    color: @sky;
}

#mpris {
	color: @flamingo;
    border-color: @flamingo;
}

#mpris.paused {
    padding-top: 4px
}

#custom-tailscale.down {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 0;
}

#custom-tailscale.up {
    color: @green;
    border-color: @green;
}

#custom-fanmode.Quiet {
  color: @green;
  border-color: @green
}

#custom-fanmode.Balanced {
  color: @blue;
  border-color: @blue
}

#custom-fanmode.Performance {
  color: @red;
  border-color: @red;
}

#custom-battery_conservation.Activated {
  color: @green;
  border-color: @green;
}

#custom-battery_conservation.Disabled {
  color: @red;
  border-color: @red;
}

#custom-headset_battery.Disabled {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 0;
}

#custom-headset_battery.Full {
    color: @green;
    border-color: @green;
}

#custom-headset_battery.Good {
    color: @peach;
    border-color: @peach;
}

#custom-headset_battery.Critical {
    color: @red;
    border-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
